{% extends 'base.html' %}

{% block content %}

<h3>
    Playlists 
    {% if playlists %}
    <small class="text-muted">({{ playlists|length }})</small>
    {% endif %}
</h3>
<hr>
{% if playlists %}

  <div class="container-fluid">
    <div class="row justify-content-center">
      {% for playlist in playlists %} 

      {% include "partials/card.html" %}

          {% if forloop.counter|divisibleby:"3" %}
            <div class="w-100"></div>
          {% endif %}

      {% endfor %}
    </div>
  </div>

{% else %}
  <div class="alert alert-primary" role="alert">No pages to display.</div>

{% endif %}
{% endblock %}